<header class="header">
  <h2 class="header__logo">Product App</h2>

  @if (user()) {
    <div class="header__nav">
      <a [routerLink]="AppRoutes.Home" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="header__nav--link-active"
         pButton class="p-button-text">Home</a>
      <a [routerLink]="AppRoutes.FavouriteProducts" routerLinkActive="header__nav--link-active" pButton class="p-button-text">Favourite
        Products</a>
    </div>

    <div class="header__user">
      <h4 class="header__user--login">Hi {{ user()?.login }}</h4>
      <p-button (onClick)="logout()">Logout</p-button>
    </div>
  } @else {
    <p-button (onClick)="login()">Login</p-button>
  }
</header>

<main>
  <router-outlet></router-outlet>
</main>
