@use 'breakpoint' as *;

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px -1px #0000001a,0 2px 4px -2px #0000001a;
  padding: 10px 20px 10px 10px;
  gap: 16px;

  @include breakpoint($screen-md) {
    flex-direction: row;
  }

  &__image {
    margin: auto;
    & img {
      max-width: 300px;
      width: 100%;
    }
  }

  &__description {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    align-items: center;
    gap: 16px;

    @include breakpoint($screen-md) {
      flex-direction: column;
      align-items: start;
    }

    &--title {
      font-size: 1rem;
      font-weight: bold;

      @include breakpoint($screen-md) {
       font-size: 1.5rem;
      }
    }

    &--rating {
      display: flex;
      align-items: center;
      font-size: 1rem;
      font-weight: bold;

      @include breakpoint($screen-md) {
        font-size: 1.5rem;
      }

      & i {
        font-size: 1rem;
        padding-right: 8px;
        color: gold;

        @include breakpoint($screen-md) {
          font-size: 1.5rem;
        }
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    @include breakpoint($screen-md){
      flex-direction: column;
      justify-content: space-evenly;
      align-items: end;
    }

    &--price {
      font-size: 1.5rem;
      font-weight: bold;

      @include breakpoint($screen-md) {
        font-size: 2rem;
      }
    }

    &--actions {
      display: flex;
      flex-direction: column;
      justify-content: end;

      @include breakpoint($screen-md) {
        flex-direction: row;
      }

      i {
        font-size: 1.5rem;

        @include breakpoint($screen-md) {
          font-size: 2rem;
        }
      }
    }
  }
}
